
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  background: url(img/squares.gif);
}
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
html, body
{
  min-height:100%;
  height:100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  z-index: 10;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}
.carousel-caption .raw {
  margin: 0;
}

.carousel {
  min-height: 100%;
}

.carousel .item {
  height: 100%;
  overflow: hidden;
  padding-bottom: 50px;
}
/*
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
*/


.carousel-indicators, .carousel-indicators .active {
  height: 25px;
  position: relative;
  top: 0px;
  left: 0;
  z-index: 15;
  width: 100%;
  padding: 0;
  margin: 0;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 33.333%;
  height: 32px;
  margin: 0px;
  text-indent: 0px;
  cursor: pointer;
  border: none;
  border-radius: 0px;

  text-align: left;
  vertical-align: bottom;
}

#col1{
  background: #62da9a;
  }
#col1 .active{
  background: #62da9a;
  }
#col2{
  background: #ff6b40;
  }
#col2 .active{
  background: #ff6b40;
  }
#col3{
  background: #aaf53d;
  }
#col3 .active{
  background: #aaf53d;
  }



.carousel-caption {
  /*position: absolute;*/
  color: #6b6b6b;
  position: relative;
  right: 10%;
  bottom: 20px;
  left: 10%;
  width: 80%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-shadow: none;
}
.carousel-caption {
  text-align: left;
}
.carousel-caption h3 {
  padding-left: 5%;
}

.carousel-caption .btn {
  text-shadow: none;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}


/* Main manu styles */
.main-menu .col-lg-4, .main-menu .col-lg-4.active {
  padding: 15px 0 0 0;
  text-indent: 8px;
}

.container .main-menu
{
  padding: 0px;
}

.main-menu-caption {
  position: relative;
  padding-left: 10%;
  padding-right: 10%;

  color: white;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  vertical-align: bottom;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}

.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

.ma-footer
{
  height: 50px;
  margin-top: -50px;
  width: 100%;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 20pt;
}


/*PROJECT PAGE*/
.main-logo
{
  padding: 25pt 10pt 25pt 20pt;
  width: 200pt;
}

.ma-logo-header
{
  padding: 40pt 0pt 0pt 20pt;
  margin-bottom: 0px;
  text-align: left;
}
.ma-logo-add
{
  font-size: 10pt;
  text-align: right;
  padding-right: 10px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
/*  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }*/

}



@media (min-width: 0px) {
.main-menu .col-lg-4
 {
  float: left;
}

